.page-login:before {
  background-image: url("../../images/login3.jpg"); }

.page-login form {
  width: 340px;
  margin: 30px 0; }
  .page-login form a {
    margin-left: 20px; }

.page-login .form-control,
.page-login .floating-label,
.page-login .form-control:focus + .floating-label {
  color: #bdbdbd; }

.page-login a {
  color: #9fa8da; }

@media (max-width: 767.98px) {
  .page-login form {
    width: auto; } }
